{{ $languageCode := .Site.LanguageCode }}
{{ with .Params.Lang }}
{{ $languageCode = . }}
{{ end }}
<!DOCTYPE html>
<html lang="{{ $languageCode | default " en-us" }}" dir="{{ .Site.Language.LanguageDirection | default " ltr" }}">

<head>
  {{ block "head" . }}
  {{ partial "head/_head.html" . }}
  {{ end }}
</head>

<body class="{{ if .IsPage }}single{{ else if .IsHome }}home{{ else }}list{{ end }}">
  {{ partial "hooks/body/start.html" . }}
  <header>
    {{ block "header" . }}
    {{ .Render "header" }}
    {{ end }}
  </header>
  <main class="wrapper">
    {{ block "main" . }}{{ end }}
  </main>
  {{ block "footer" . }}
  {{ .Render "footer" }}
  {{ end }}
  {{ partial "head/script.html" . }}
  {{ partial "hooks/body/end.html" . }}
</body>

</html>