<footer>
    <address>
        <figure>
            {{ partial "signature" . }}
            {{/*
                {{ with $.Site.Author.Signature }}
                {{ end }}
                */}}
            <figcaption>
                {{ with .Site.Author.name }}
                <span>
                    — {{ . }}
                </span>
                {{ end }}
                {{ with .PublishDate }}
                <br>
                <small>
                    {{ partial "func/date" . }}
                </small>
                {{ end }}
            </figcaption>
        </figure>
    </address>
</footer>

<script>
    {{-  (resources.Get "js/article-initial-letter.js" | minify).Content | safeJS  -}}
</script>  