nav.breadcrumbs
  width: 100%
  margin-bottom: calc(1rem / 2)
  text-transform: capitalize
  font-size: small

  ol
    margin-left: 0
    margin-bottom: 0

    li
      display: inline

      a
        color: transparentize(#888, 0.2)
        text-decoration: none

      & + li
        margin-left: calc(1rem / 3)

        &::before
          margin-right: calc(1rem / 3)
          content: "/"
          color: transparentize(#888, 0.6)
          font-weight: bold
