body
    &.single > header
        @media (min-width: $breakpoint)
            margin-top: 25vh

    & > header
        max-width: 95%
        margin: 10vh auto

        @media (min-width: $breakpoint)
            max-width: $container-width * 2
            text-align: center

        h1
            text-transform: uppercase

            @media (max-width: $breakpoint)
                font-size: 2rem

            @media (min-width: $breakpoint)
                font-size: 4rem
                line-height: 1
                margin: 1.5rem 0 2rem 0

        p
            // margin: 0
            color: var(--color-body-txt-transparentize-5)
            font-size: small

            &.date
                span
                    @media (max-width: $breakpoint)
                        display: block

            // time
            //     font-weight: bold
            //     font-style: italic
